* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  background-color: rgb(221, 221, 221);
  height: 100vh;
  padding: 50px;
  position: sticky;
  top:0
}

.content {
  padding: 50px;
}

input,
select,
textarea,
button {
  margin-bottom: 3px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .header-buttons a {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

form .form-footer {
  float: right;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-group {
  display: block;
  margin-bottom: 10px;
}

.input-group div {
  font-weight: 600;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: white
}